<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.swdrts.smartscreenlock"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
"
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.swdrts.smartscreenlock.activity.SmartScreenActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">"
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME"/>
                <category android:name="android.intent.category.DEFAULT" /> 
            </intent-filter>
        </activity>
        <receiver
            android:name="com.swdrts.smartscreenlock.receiver.ScreenLockReceiver"
            android:enabled="true">
            <intent-filter> 
                <action android:name="android.intent.action.SCREEN_ON"/> 
                <action android:name="android.intent.action.SCREEN_OFF"/>
            </intent-filter> 
        </receiver>
        <receiver
            android:name="com.swdrts.smartscreenlock.receiver.BootCompletedReceiver"
            android:enabled="true">
            <intent-filter> 
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter> 
        </receiver>
        <service 
            android:name="com.swdrts.smartscreenlock.service.SmartScreenLockService"
            android:enabled="true">
            
        </service>
    </application>

</manifest>